*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}



/* NAVBAR */
.navbar{
    display: flex;
    padding: 40px 120px;
    align-items: center;
}
.navbar-logo a{
    color: #fff;
    font-size: 100px;
}
.navbar-links{
    flex: 1;
}
.close a{
    color: #fff;
    font-size: 30px;
    display: none;
}
.navbar-links ul{
    margin-left: 50px;
    display: inline;
}
.navbar-links ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 25px;
}
.navbar-links ul a{
    font-size: 20px;
    color: #fff;
}
.navbar-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar-links ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}
.navbar-links .btn{
    float: right;
}



/* BANNER-TITLE */
.banner-title{
    margin: 80px 130px;
    color: #fff;
}
.banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
}
.banner-title h1 span{
    color: yellow;
}



/* VERTICAL-BAR */
.vertical-bar{
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    position: absolute;
}
.search-icon{
    height: 60%;
    width: 80px;
}
.search-icon .fas{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size:30px;
}
.social-icons{
    height: 35%;
    width: 80px;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icons .fab{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.notifications{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellow;
    align-items: center;
}
.contents{
    flex-basis: 50%;
    padding: 10px;
}
.notification-img{
    flex-basis: 50%;
}
.notification-img img{
    width: 100%;
}
.contents a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 0 10px;
}
.contents p{
    text-align: right;
    margin-top: 10px;
}


/* MEDIA QUERIE */
@media only screen and (max-width:700px){
    
    .vertical-bar{
        display: none;
    }
    .banner-title{
        margin: 10px 40px;
    }
    .navbar-logo a{
        font-size: 70px;
        margin-left: -80px;
    }
    .banner-title h1{
        font-size: 40px;
    }
    .notifications{
        width: 100%;
    }
    
    .far {
        position: absolute;
        right: 20px;
        top: 10px;
        color: #fff;
    }
    .navbar-links{
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: 0;
        position: absolute;
        text-align: left;
        z-index: 2;
    }
    .navbar-links ul a{
        display: block;
    }
    .navbar-links .btn{
        float: none;
        margin-left: 25px,
    }
}
